---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14OXQ24PSbBPalmqCLcekkBc&plan=base&email=paq12345%40paq.com
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 06 Aug 2014 16:37:44 GMT
recorded_with: VCR 2.9.2
