---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14QJ614PSbBPalmqTIHQwNb4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14QJ614PSbBPalmqTIHQwNb4",
          "created": 1407764661,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14QJ614PSbBPalmqpX3bafs4",
              "object": "charge",
              "created": 1407764661,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14QJ5y4PSbBPalmqRjhV00uJ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "FCwrYTzZ1JfOeTDW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ZS0yy1cZjrsGs"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14QJ614PSbBPalmqpX3bafs4/refunds",
                "data": []
              },
              "balance_transaction": "txn_14QJ614PSbBPalmqvH6Wltwl",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4ZS0yy1cZjrsGs",
              "invoice": "in_14QJ614PSbBPalmqMMGJiAGV",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4ZS0Un35GhCnly"
        }
  recorded_at: Mon, 11 Aug 2014 14:43:22 GMT
recorded_with: VCR 2.9.2
