---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2OXuh3ErYuXiFN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_HPAHbztfQXof4GiaKA3cJiEd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2OXuh3ErYuXiFN\",\n  \"created\": 1376650241,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2OXuTq1Nzbn3p3\",\n      \"object\":
        \"charge\",\n      \"created\": 1376650241,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2OXuaR8tycGAwO\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 8,\n        \"exp_year\": 2014,\n        \"fingerprint\":
        \"fnH6dw4NhbQdLSIX\",\n        \"customer\": \"cus_2OXul4nz0N8r3E\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"balance_transaction\":
        \"txn_2OXugDbsVJlKts\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2OXul4nz0N8r3E\",\n
        \     \"invoice\": \"in_2OXuhQPfpIn0av\",\n      \"description\": null,\n
        \     \"dispute\": null,\n      \"fee\": 59,\n      \"fee_details\": [\n        {\n
        \         \"amount\": 59,\n          \"currency\": \"usd\",\n          \"type\":
        \"stripe_fee\",\n          \"description\": \"Stripe processing fees\",\n
        \         \"application\": null\n        }\n      ]\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2OXuxCu5NDanEQ\"\n}\n"
  recorded_at: Fri, 16 Aug 2013 16:22:01 GMT
recorded_with: VCR 2.5.0
