---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2PsoXXvLP4oqPR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_HPAHbztfQXof4GiaKA3cJiEd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2PsoXXvLP4oqPR\",\n  \"created\": 1376958644,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2PsoapNVLRlwZ0\",\n      \"object\": \"charge\",\n      \"created\":
        1376958644,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2Psn0f1647nPdm\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        11,\n        \"exp_year\": 2017,\n        \"fingerprint\": \"yAdBZN2t9gg2j4Iy\",\n
        \       \"customer\": \"cus_2PoX83JgZYSkVA\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2PoX83JgZYSkVA\",\n
        \     \"invoice\": null,\n      \"description\": \"payment to fail\",\n      \"dispute\":
        null,\n      \"fee\": 0,\n      \"fee_details\": []\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 1,\n  \"request\": \"iar_2PsobaFJy5jAqJ\"\n}\n"
  recorded_at: Tue, 20 Aug 2013 00:53:57 GMT
recorded_with: VCR 2.5.0
