---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14QjEm4PSbBPalmqEEkgsW3h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14QjEm4PSbBPalmqEEkgsW3h",
          "created": 1407865148,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14QjEm4PSbBPalmqQ6IcqiCh",
              "object": "charge",
              "created": 1407865148,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14QjCr4PSbBPalmqHWWM7FEO",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "Ej12RPVUiO53jKxO",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ZmeAO4cHhuzAq"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14QjEm4PSbBPalmqQ6IcqiCh/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4ZmeAO4cHhuzAq",
              "invoice": null,
              "description": "Payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_4Zt0SoHB0ti80L"
        }
  recorded_at: Tue, 12 Aug 2014 17:53:07 GMT
recorded_with: VCR 2.9.2
