---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14OXPc4PSbBPalmqcYYzprpl",
          "livemode": false,
          "created": 1407343036,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14OXPc4PSbBPalmqe04T3KDh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "FCwrYTzZ1JfOeTDW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 06 Aug 2014 16:37:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14OXPc4PSbBPalmqcYYzprpl&plan=base&email=richard%40torp.com
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1407343037,
          "id": "cus_4XceGO0bqUE4OL",
          "livemode": false,
          "description": null,
          "email": "richard@torp.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4XceGO0bqUE4OL/subscriptions",
            "data": [
              {
                "id": "sub_4XceJCqU6alMwT",
                "plan": {
                  "interval": "month",
                  "name": "The base plan",
                  "created": 1407338753,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1407343037,
                "status": "active",
                "customer": "cus_4XceGO0bqUE4OL",
                "cancel_at_period_end": false,
                "current_period_start": 1407343037,
                "current_period_end": 1410021437,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4XceGO0bqUE4OL/cards",
            "data": [
              {
                "id": "card_14OXPc4PSbBPalmqe04T3KDh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "FCwrYTzZ1JfOeTDW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4XceGO0bqUE4OL"
              }
            ]
          },
          "default_card": "card_14OXPc4PSbBPalmqe04T3KDh"
        }
  recorded_at: Wed, 06 Aug 2014 16:37:18 GMT
recorded_with: VCR 2.9.2
