---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HPAHbztfQXof4GiaKA3cJiEd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2OdBKsG8V9i3Bo\",\n  \"livemode\": false,\n  \"created\":
        1376669862,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2OdBR7mw69JGvJ\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 6,\n
        \   \"exp_year\": 2018,\n    \"fingerprint\": \"fnH6dw4NhbQdLSIX\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 16 Aug 2013 16:17:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2OdBKsG8V9i3Bo&email=jena%40weinatdurgan.biz&plan=base
    headers:
      Authorization:
      - Bearer sk_test_HPAHbztfQXof4GiaKA3cJiEd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1376669864,\n  \"id\":
        \"cus_2OdBLoo2XfdcSk\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"jena@weinatdurgan.biz\",\n  \"delinquent\": false,\n  \"subscription\":
        {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"the
        base plan\",\n      \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\":
        \"base\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1376669864,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_2OdBLoo2XfdcSk\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1376669864,\n    \"current_period_end\": 1379348264,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"cards\": {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\":
        \"/v1/customers/cus_2OdBLoo2XfdcSk/cards\",\n    \"data\": [\n      {\n        \"id\":
        \"card_2OdBR7mw69JGvJ\",\n        \"object\": \"card\",\n        \"last4\":
        \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\": 6,\n        \"exp_year\":
        2018,\n        \"fingerprint\": \"fnH6dw4NhbQdLSIX\",\n        \"customer\":
        \"cus_2OdBLoo2XfdcSk\",\n        \"country\": \"US\",\n        \"name\": null,\n
        \       \"address_line1\": null,\n        \"address_line2\": null,\n        \"address_city\":
        null,\n        \"address_state\": null,\n        \"address_zip\": null,\n
        \       \"address_country\": null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null\n      }\n    ]\n  },\n  \"default_card\":
        \"card_2OdBR7mw69JGvJ\",\n  \"active_card\": {\n    \"id\": \"card_2OdBR7mw69JGvJ\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 6,\n    \"exp_year\": 2018,\n    \"fingerprint\": \"fnH6dw4NhbQdLSIX\",\n
        \   \"customer\": \"cus_2OdBLoo2XfdcSk\",\n    \"country\": \"US\",\n    \"name\":
        null,\n    \"address_line1\": null,\n    \"address_line2\": null,\n    \"address_city\":
        null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\":
        null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\": null,\n
        \   \"address_zip_check\": null\n  }\n}\n"
  recorded_at: Fri, 16 Aug 2013 16:17:48 GMT
recorded_with: VCR 2.5.0
