---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14QKVk4PSbBPalmqVBYo9otU",
          "livemode": false,
          "created": 1407770100,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14QKVk4PSbBPalmqrvDjWSTi",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "FCwrYTzZ1JfOeTDW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 11 Aug 2014 15:15:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14QKVk4PSbBPalmqVBYo9otU&plan=base&email=petra.terry%40torp.org
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1407770102,
          "id": "cus_4ZTSMzKei0vi23",
          "livemode": false,
          "description": null,
          "email": "petra.terry@torp.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4ZTSMzKei0vi23/subscriptions",
            "data": [
              {
                "id": "sub_4ZTSrqKKbXCxZV",
                "plan": {
                  "interval": "month",
                  "name": "The base plan",
                  "created": 1407338753,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1407770102,
                "status": "active",
                "customer": "cus_4ZTSMzKei0vi23",
                "cancel_at_period_end": false,
                "current_period_start": 1407770102,
                "current_period_end": 1410448502,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4ZTSMzKei0vi23/cards",
            "data": [
              {
                "id": "card_14QKVk4PSbBPalmqrvDjWSTi",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "FCwrYTzZ1JfOeTDW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4ZTSMzKei0vi23"
              }
            ]
          },
          "default_card": "card_14QKVk4PSbBPalmqrvDjWSTi"
        }
  recorded_at: Mon, 11 Aug 2014 15:15:03 GMT
recorded_with: VCR 2.9.2
